<h1>Login</h1>
<%= form_tag '/login' do %>
  <div class="login-form">
  <div class="field">
    <%= label_tag 'email' %> 
    <%= email_field_tag 'email' %>
  </div>

  <div class="field">
    <%= label_tag 'password' %> 
    <%= password_field_tag 'password' %>
  </div>
  </div>
  <div class="field">
    <%= submit_tag 'Login', :class => "btn btn-success" %>
  </div>
  <div class="field">
    <%= link_to "forgotten password?", new_password_reset_path %>
  </div>
<% end %>
