<p id="notice"><%= notice %></p>

  <strong>Name:</strong>
  <%= @user.name %> <br>


  <strong>Email:</strong>
  <%= @user.email %> <br>

  <strong>Address:</strong> <br>
  <%= @user.address %> <br>


  <%= @user.suburb %> <br>


  <%= @user.city %>, 


  <%= @user.state %>


  <%= @user.post_code %> <br>


  <%= @user.country %> <br>


  <strong>Admin:</strong>
  <%= @user.admin %> <br>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
