<h1>Welcome to Anna's Jewellery</h1>
<div class="intro">
  <h4>
    Welcome to Anna's Jewellery - home of handcrafted jewellery pieces, all designed and created in Australia. I specialise in designs featuring lampwork, swarovski crystal, semi-precious gemstones, glass, wood, seed beads and high quality findings. I also custom make jewellery for any occasion.
  </h4> 
  <h5>
    Anyone can <%= link_to 'view the custom handcrafted jewellery', products_path %> but to start a shopping cart you must simply <%= link_to'Sign Up', new_user_path %> to the page so we can have your shipping address handy, Thank you and hope you enjoy Anna. 
  </h5>
</div>
<hr>
<% @products.each do |product| %>
  <div class="products">
    <% if product.cl_id.present? %>
        <%= cl_image_tag(product.cl_id, :width => 100, :height => 150, :crop => :fill) %>
    <% elsif product.image_one.present? %>
        <%= cl_image_tag(product.image_one, :width => 100, :height => 150, :crop => :fill) %>
    <% end %>
    <h5><%= link_to product.name, product_path(product.id) %></h5>
    <strong>Description:</strong> <%= truncate(product.description, length: 150) %>
    <div class="price_line">
      <% if @product.on_sale == true %>
      <div class="list-price">
        <strong>List Price:</strong>
        <%= number_to_currency(@product.list_price, :unit => "$") %>
      </div>
        <strong>Sale Price:</strong>
        <%= number_to_currency(@product.price, :unit => "$") %> <br>
      <% else %>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price, :unit => "$") %>
      <% end %>
      <% if @current_user.present? %>
        <%= button_to 'Add to Cart', line_items_path(product_id: product), :class => "btn btn-warning" %>
      <% end %>
      <% if @current_user.present? && @current_user.admin? %>
       <hr> <%= button_to 'Destroy Product', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>