<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="cart-view">
<h2>Your Shopping Cart</h2>
<div class="cart_title">Your Cart</div> 
<table>
  <% for item in @cart.line_items %> 
    <tr>
      <td><%= item.quantity %>&times;</td> 
      <td><%= item.product.name %></td> 
      <td class="item_price"><%= number_to_currency(item.total_price) %> <%= link_to 'Remove Item', item, :method => :delete, :confirm => "Are you sure?" %></td>
      
    </tr> 
  <% end %> 
    <tr class="total_line"> 
      <td colspan="2">Total </td> 
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td> 
    </tr>
</table>
<%= button_to 'Clear cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span><%= number_to_currency(@cart.total_price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Cart Checkout"
          data-amount="@cart.total_price"></script>
<% end %>
</div>