<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <% @products.each do |product| %>
    <strong>Product name:</strong> <%= link_to product.name, product_path %><br>
    <strong>Description:</strong> <%= product.description %><br>
    <%= cl_image_tag(product.cl_id, :width => 100, :height => 150, :crop => :fill) %> <hr>
  <% end %>
</p>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
