<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <% @products.each do |product| %>
  <div class="products">
    <strong>Product name:</strong> <%= link_to product.name, product_path %><br>
    <strong>Description:</strong> <%= truncate(product.description, length: 150) %><br>
    <%= cl_image_tag(product.cl_id, :width => 100, :height => 150, :crop => :fill) %>  <br>
    <strong>Price:</strong><%= number_to_currency(product.price, :unit => "$") %>
    <% if @current_user.present? %>
      <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
    <% end %>
  </div>  
  <% end %>
</p>
<% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back', categories_path %>
