<p id="notice"><%= notice %></p>

<h1>Products</h1>
<br>
<% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Add New Product', new_product_path %>
<% end %>
<hr>


<% cache ['store', Product.last] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
      <div class="products">
        <%= cl_image_tag(product.cl_id, :width => 100, :height => 150, :crop => :fill) %>
        <h3><%= product.name %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
      </div>
      </div>
      </div>
    <% end %>
  <% end %>
<% end %>


