<p id="notice"><%= notice %></p>
<div class="products">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= cl_image_tag(@product.cl_id, :width => 100, :height => 150, :crop => :fill) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, :unit => "$") %>
</p>

<p>
  <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
</p>

<p>
  <strong>Category:</strong>
  <% if @product.category %><%= @product.category.name %><% end %>
</p>
<% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %> 
<% end %> 
</div> <br>
<%= link_to 'Back', products_path %>
