<p id="notice"><%= notice %></p>
<div class="products">
  <strong>Name:</strong>
  <%= @product.name %> <br>
  <strong>Description:</strong>
  <%= @product.description %> <br>
  <strong>Image:</strong>
  <%= cl_image_tag(@product.cl_id, :width => 100, :height => 150, :crop => :fill) %> <br>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, :unit => "$") %> <br>
  <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
  <strong>Category:</strong>
  <% if @product.category %>
    <%= @product.category.name %> <br>
  <% end %>
  <% if @current_user.present? && @current_user.admin? %>
    <%= link_to 'Edit Product', edit_product_path(@product) %> 
  <% end %> 
</div> <br>
<%= link_to 'Back', products_path %>
