<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <%= cl_image_tag(@product.cl_id, :width => 100, :height => 150, :crop => :fill) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, :unit => "$") %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
